<% if @puppies.empty? %>
  <p>No puppies available yet. Be the first to add one!<p>
<% else %>
  <h2>Available Puppies</h2>
  <% @puppies.each do |puppy| %>
    <div>
      <%= "#{puppy.name} - #{puppy.breed} (#{puppy.age})" %>
      <%= link_to "View Details", puppy_path(puppy) %>
    </div>
  <% end %>
<% end %>

<%= link_to "Click Here To List A Puppy", new_puppy_path %>
